@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

header {
    font-family: "Poppins", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

header a:active {
    text-decoration: underline;
}

header a:hover {
    text-decoration: wavy;

}

body a {
  text-decoration: none;
}

button a {
    color: black;
    text-decoration: none;
}

li a{
  text-decoration: none;
  color: black;
}

.imagenProd img {
  width: 600px;
  height: 700px;
}

.zoomcards {
  transition: transform .5s ease;
}

.zoomcards:hover {
  transform: scale(1.02);
}

.zoom {
  transition: transform .5s ease;
}

.zoom:hover {
  transform: scale(1.08);
}

/* Carrousel Infinito */
.marcas {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15rem;

  justify-items: stretch;
  animation: scroll 10s linear infinite;
}

.ocultarMovil {
  @media screen and (max-width: 980px) {
    display: none;
  }
}

.mostrarMovil {
  @media screen and (min-width: 980px) {
    display: none;
  }
}

#ocultarMovil {
  @media screen and (max-width: 980px) {
    display: none;
  }
}

.destaca:hover {
  text-decoration: underline;
}

#quitarEnlace a {
  text-decoration: none;
  color: black;
}

.quickFix img {
  width: 1000px;
  height: 750px;
}

@keyframes scroll {
  to {
    translate: calc(-4 * 15rem);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  border: 0px none #870303;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
::-webkit-scrollbar-thumb:active {
  background: #0f0f0f;
}
::-webkit-scrollbar-track {
  background: #4f4f4f;
  border: 0px none #eb0f0f;
  border-radius: 1px;
}
::-webkit-scrollbar-track:hover {
  background: #4f4f4f;
}
::-webkit-scrollbar-track:active {
  background: #4f4f4f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Fin */


  .blob {
    margin-top: -50px;
    animation:vibrate-4 40s infinite forwards; 
  }

  .tracking-in-contract {
    animation: tracking-in-contract 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .focus-in-expand {
    animation: focus-in-expand-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .text-pop-up-top {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }  

  .scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


  /* F1 --> Join Lines */
    @-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
    @keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-800px);filter:blur(12px);opacity:0}100%{transform:translateZ(0);filter:blur(0);opacity:1}}
    @keyframes text-pop-up-top{0%{transform:translateY(0);transform-origin:50% 50%;text-shadow:none}100%{transform:translateY(-50px);transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}
    @-webkit-keyframes scale-in-center { 0% { -webkit-transform: scale(0); transform: scale(0); opacity: 1; } 100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; } } @keyframes scale-in-center { 0% { -webkit-transform: scale(0); transform: scale(0); opacity: 1; } 100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; } }
    @keyframes vibrate-4 { 0% { -webkit-transform: translate(0); transform: translate(0); } 10% { -webkit-transform: translate(-15px, -15px); transform: translate(-15px, -15px); } 20% { -webkit-transform: translate(15px, -15px); transform: translate(15px, -15px); } 30% { -webkit-transform: translate(-15px, 15px); transform: translate(-15px, 15px); } 40% { -webkit-transform: translate(15px, 15px); transform: translate(15px, 15px); } 50% { -webkit-transform: translate(-15px, -15px); transform: translate(-15px, -15px); } 60% { -webkit-transform: translate(15px, -15px); transform: translate(15px, -15px); } 70% { -webkit-transform: translate(-15px, 15px); transform: translate(-15px, 15px); } 80% { -webkit-transform: translate(-15px, -15px); transform: translate(-15px, -15px); } 90% { -webkit-transform: translate(15px, -15px); transform: translate(15px, -15px); } 100% { -webkit-transform: translate(0); transform: translate(0); } }
  